body
{
	margin:0;
	padding:0;
}
.banner
{
	background-color: black;
	height: 260px;
	width: 100%;
	text-align:center;
}
.banner img
{
	margin-top:12px;
	float:left;
}
.logo
{
	margin-right: 100px;
}
.facebook {
    margin-left: 565px;
}
.facebook img
{
	margin-top:44px;
}
.descarga img
{
	width:100px;
	height:100px;
}
.descarga
{
	color:white;
	float:right;
	margin-top: 35px;
}
.descarga p
{
	text-align:center;
	    width: 99px;
}
.descarga a
{
	color:white;
	text-decoration:none;
}
.descarga a:hover
{
	color:yellow;
	text-decoration:none;
}
.content
{
	width:800px;
	margin:0 auto;
}
h1 {
margin-top:50px;
	font-family: Arial;
	font-size: 34px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 26.4px;
}
h3 {
	font-family: Arial;
	font-size: 14px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 15.4px;
}
p {
	font-family: Arial;
	font-size: 16px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 30px;
}
.footer
{
	width:800px;
	margin:0 auto;
	
}
.footer img
{
	float: left;
	margin-right:30px;
	margin-bottom:100px;
}
.footer.contents
{
	float: left;
}
ul
{
	margin-left:20px;
}